<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bitgymup.gymup">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GYMUP">
        <activity android:name=".admin.AdminAgenda"></activity>
        <activity android:name=".admin.AdminOffers" />
        <activity android:name=".admin.AdminUsers" />
        <activity android:name=".admin.AdminAddUser" />
        <activity android:name=".admin.AdminNews" />
        <activity android:name=".admin.AdminProfile" />
        <activity android:name=".admin.AdminHome" />
        <activity android:name=".Register" />
        <activity android:name=".UserProfile" />
        <activity android:name=".Nutrition" />
        <activity android:name=".Contact" />
        <activity android:name=".Services" />
        <activity android:name=".AboutUs" />
        <activity android:name=".GymList" />
        <activity android:name=".LogIn" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>