<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bitgymup.gymup">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:icon="@mipmap/logo_circular"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/logo_circular"
        android:supportsRtl="true"
        android:theme="@style/Theme.GYMUP">
        <activity android:name=".RecuperarPass"></activity>
        <activity android:name=".users.UserSaludNutricion" />
        <activity android:name=".users.UserPromo" />
        <activity android:name=".users.UserSalud" />
        <activity android:name=".users.UserPagos" />
        <activity android:name=".users.UserServicios" />
        <activity android:name=".users.UserReservas" />
        <activity android:name=".admin.AdminServices" />
        <activity android:name=".users.UserHome" />
        <activity android:name=".admin.AdminAboutUs" />
        <activity android:name=".admin.AdminAgenda" />
        <activity android:name=".admin.AdminOffers" />
        <activity android:name=".admin.AdminUsers" />
        <activity android:name=".admin.AdminAddUser" />
        <activity android:name=".admin.AdminNews" />
        <activity android:name=".admin.AdminProfile" />
        <activity android:name=".admin.AdminHome" />
        <activity android:name=".Register" />
        <activity android:name=".users.UserProfile" />
        <activity android:name=".Nutrition" />
        <activity android:name=".Contact" />
        <activity android:name=".Services" />
        <activity android:name=".AboutUs" />
        <activity android:name=".GymList" />
        <activity android:name=".LogIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notificacion" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/material_on_surface_emphasis_high_type" />

        <service android:name=".notification.FirebaseServiciodeMensajes">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>