<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bitgymup.gymup">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_circular"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_circular"
        android:supportsRtl="true"
        android:theme="@style/Theme.GYMUP">
        <activity android:name=".admin.AdminServices"></activity>
        <activity android:name=".users.UserHome"></activity>
        <activity android:name=".admin.AdminAgenda" />
        <activity android:name=".admin.AdminOffers" />
        <activity android:name=".admin.AdminUsers" />
        <activity android:name=".admin.AdminAddUser" />
        <activity android:name=".admin.AdminNews" />
        <activity android:name=".admin.AdminProfile" />
        <activity android:name=".admin.AdminHome">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".Register" />
        <activity android:name=".users.UserProfile" />
        <activity android:name=".Nutrition" />
        <activity android:name=".Contact" />
        <activity android:name=".Services" />
        <activity android:name=".AboutUs" />
        <activity android:name=".GymList" />
        <activity android:name=".LogIn">

        </activity>
        <activity android:name=".MainActivity">

        </activity>
    </application>

</manifest>